openapi: 3.0.3
info:
  title: WCC
  description: ''
  version: 1.0.0
servers:
  -
    url: 'https://psrp.online'
paths:
  /api/student/register:
    post:
      summary: 'Register a new student.'
      operationId: registerANewStudent
      description: 'This endpoint allows a new student to register by providing their details.'
      parameters: []
      responses:
        201:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Student registered successfully'
                  access_token: 2|a1s2d3f4g5h6j7k8l9m0
                  token_type: Bearer
                properties:
                  message:
                    type: string
                    example: 'Student registered successfully'
                  access_token:
                    type: string
                    example: 2|a1s2d3f4g5h6j7k8l9m0
                  token_type:
                    type: string
                    example: Bearer
        422:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  errors:
                    email:
                      - 'The email has already been taken.'
                properties:
                  errors:
                    type: object
                    properties:
                      email:
                        type: array
                        example:
                          - 'The email has already been taken.'
                        items:
                          type: string
      tags:
        - 'Student Authentication'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                first_name:
                  type: string
                  description: 'The first name of the student.'
                  example: John
                last_name:
                  type: string
                  description: 'The last name of the student.'
                  example: Doe
                email:
                  type: string
                  description: 'The email address of the student. Must be unique.'
                  example: john.doe@example.com
                password:
                  type: string
                  description: 'The password for the student account (minimum 8 characters).'
                  example: secret123
                middle_name:
                  type: string
                  description: 'The middle name of the student.'
                  example: A
                password_confirmation:
                  type: string
                  description: 'Password confirmation (must match the password).'
                  example: secret123
              required:
                - first_name
                - last_name
                - email
                - password
                - password_confirmation
      security: []
  /api/student/login:
    post:
      summary: 'Student login.'
      operationId: studentLogin
      description: 'This endpoint allows a student to log in by providing their email and password.'
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  access_token: 2|a1s2d3f4g5h6j7k8l9m0
                  token_type: Bearer
                properties:
                  access_token:
                    type: string
                    example: 2|a1s2d3f4g5h6j7k8l9m0
                  token_type:
                    type: string
                    example: Bearer
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Invalid login details'
                properties:
                  message:
                    type: string
                    example: 'Invalid login details'
      tags:
        - 'Student Authentication'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: 'The email address of the student.'
                  example: john.doe@example.com
                password:
                  type: string
                  description: 'The password of the student.'
                  example: secret123
              required:
                - email
                - password
      security: []
tags:
  -
    name: 'Student Authentication'
    description: ''
